---
export interface Props{
    href:string,
    text:string,
    target:string,
}
const {href, text, target} = Astro.props
---
<li>
    <a href={href} class="duration-300 font-medium ease-linear hover:text-primary py-3" target={target}>
    {text}
    </a>
</li>