---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";

---

<section class="relative pt-32 lg:pt-36">
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 ">
        </div>
        <div class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8 
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2">


            <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-7xl/tight
             font-bold text-heading-1"><span class="blue"> PERGI</span>
            </h1>
            <h2 class="xl:text-4xl/tight font-bold text-heading-2">The Assistant to Save Your ChatGPT Prompts</h2>
            <Paragraph className="mt-8 font-medium">
                Go ahead and try out Beta V1.0!
            </Paragraph>
            <div class="mt-10 w-full flex max-w-md mx-auto lg:mx-0">
                <div class="flex sm:flex-row flex-col gap-5 w-full">
                        <button type="button" onclick="window.location.href='https://pergi.app';" class="min-w-max text-white bg-primary rounded-full py-3 px-6">
                            Go to pergi.app
                        </button>
                </div>
            </div>
            
        </div>

        <div class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl">
                <img class="floating" src={"/images/yaypergi.png"} alt="banner image">
        </div>
    </Container>

    <!-- <ByNumber/> -->
</section>
<script type="module" src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>

