---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="ourplans">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12 mb-64">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"><span class="green">PLANS</span>
            </h1>
            <Title>
                When are we releasing, info, and other good details...
            </Title>
            <Paragraph className="mt-8">
                We are planning to launch Fall 2023!
            </Paragraph>
            <Paragraph className="mt-4">
                We have completed our mockups, and are building our platform.
                <br>
                Check out our instagram for updates!
            </Paragraph>
            <Paragraph className="mt-4">
                We hope to have the following features by then:
            </Paragraph>

            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <span class="green font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Create and Save prompts
                </li>
                <li>
                    <span class="green font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> Send your responses to other apps instantly
                </li>
                <li>
                    <span class="green font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> A BUNCH of premade prompts to start with
                </li>

            </ul>
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <img src={"/images/thinkingpergi.png"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
    </Container>
</section>