---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<style>
.textb {
    color: black;
}
</style>

<section id="quote" class="yellowback">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="mx-auto text-center relative textb">
   
            <h1 class="m-40 text-2xl/tight sm:text-3xl/tight md:text-3xl/tight xl:text-4xl/tight
             font-bold text-heading-1"><span class="textb">Pergi is like a magical genie for chatGPT prompts! It's so awesome that people need it more than coffee in the morning. Because let's be honest, caffeinating your creativity is great, but having Pergi to save and reuse your favorite prompts is like rocket fuel for your imagination! - Einstien (probably)</span>
            </h1>
        </div>
    </Container>
</section>
