---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<style>
.textb {
    color: black;
}
</style>

<section id="quote" class="yellowback">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="mx-auto text-center relative textb">
   
            <h2 class="text-left mt-40 mr-10 ml-10 text-2xl/tight sm:text-3xl/tight md:text-3xl/tight xl:text-4xl/tight
             font-bold text-heading-1"><span class="textb">Pergi is like a magical genie for chatGPT
                prompts! To save and reuse your favorite prompts is like rocket fuel for your imagination!
            </span>
            </h2>
            <h1 class="text-right mt-10 mr-20 ml-10 mb-40 text-2xl/tight sm:text-3xl/tight md:text-3xl/tight xl:text-4xl/tight
            font-bold text-heading-1">
                - Einstien (probably)
            </h1>
        </div>
    </Container>
</section>
