---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";
const footerNav1 = [
    {
        itemText:"Marketing",
        itemLink:"#"
    },
    {
        itemText:"Analylitics",
        itemLink:"#"
    },
    {
        itemText:"Commerce",
        itemLink:"#"
    },
    {
        itemText:"Insights",
        itemLink:"#"
    }
]

const footerSupport = [
    {
        itemText:"Pricing",
        itemLink:"#"
    },
    {
        itemText:"Guides",
        itemLink:"#"
    },
    {
        itemText:"FAQ",
        itemLink:"#"
    },
    {
        itemText:"Contact",
        itemLink:"#"
    }
]

const footerCompany = [
    {
        itemText:"About",
        itemLink:"/about"
    },
    {
        itemText:"Blog",
        itemLink:"#"
    },
    {
        itemText:"Jobs",
        itemLink:"#"
    },
    {
        itemText:"Parteners",
        itemLink:"#"
    },
    {
        itemText:"Jobs",
        itemLink:"#"
    }
]
const footerLegal = [
    {
        itemText:"Claim",
        itemLink:"/#"
    },
    {
        itemText:"Privacy",
        itemLink:"#"
    },
    {
        itemText:"Terms",
        itemLink:"#"
    }
]
---
<div class="mt-1"></div>
<footer class="relative  bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-5 rounded-t-3xl">

    <Container className="pb-8 relative overflow-hidden">
        
        <div class="">

            <Paragraph className="mt-5 mr-10">
                Made by Gautham Pandian<br>
                Art used from BirdStory
            </Paragraph>

            <!-- <GroupFooterNav>
                <FooterNav title={"Company"} navItems={footerCompany}/>
                <FooterNav title={"Solutions"} navItems={footerNav1}/>
            </GroupFooterNav> -->

            <!-- <GroupFooterNav>
                <FooterNav title={"Support"} navItems={footerSupport}/>
                <FooterNav title={"Ressources"} navItems={footerLegal}/>
            </GroupFooterNav> -->

        </div>
    </Container>

</footer>