---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";
const footerNav1 = [
    {
        itemText:"Marketing",
        itemLink:"#"
    },
    {
        itemText:"Analylitics",
        itemLink:"#"
    },
    {
        itemText:"Commerce",
        itemLink:"#"
    },
    {
        itemText:"Insights",
        itemLink:"#"
    }
]

const footerSupport = [
    {
        itemText:"Pricing",
        itemLink:"#"
    },
    {
        itemText:"Guides",
        itemLink:"#"
    },
    {
        itemText:"FAQ",
        itemLink:"#"
    },
    {
        itemText:"Contact",
        itemLink:"#"
    }
]

const footerCompany = [
    {
        itemText:"About",
        itemLink:"/about"
    },
    {
        itemText:"Blog",
        itemLink:"#"
    },
    {
        itemText:"Jobs",
        itemLink:"#"
    },
    {
        itemText:"Parteners",
        itemLink:"#"
    },
    {
        itemText:"Jobs",
        itemLink:"#"
    }
]
const footerLegal = [
    {
        itemText:"Claim",
        itemLink:"/#"
    },
    {
        itemText:"Privacy",
        itemLink:"#"
    },
    {
        itemText:"Terms",
        itemLink:"#"
    }
]
---
<div class="mt-16"></div>
<footer class="relative  bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-28 rounded-t-3xl">

    <Container className="pb-8 relative overflow-hidden">
        
        <div class="grid grid-cols-2 lg:grid-cols-2 lg:items-stretch gap-8 relative">
            <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
                <div class="h-full">
                    <a href="#" class="relative flex items-center gap-3">
                        <img src="\Pergilogonoback.png" width="30"alt="">
                        <div class="inline-flex text-lg font-semibold text-heading-1">
                            Pergi
                        </div>
                    </a>
                    <Paragraph className={"mt-8 mr-10"}>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, maiores nam doloribus id magni
                    </Paragraph>
                </div>

                <!-- social links -->

            </div>

            <GroupFooterNav>
                <FooterNav title={"Company"} navItems={footerCompany}/>
                <FooterNav title={"Solutions"} navItems={footerNav1}/>
            </GroupFooterNav>

            <!-- <GroupFooterNav>
                <FooterNav title={"Support"} navItems={footerSupport}/>
                <FooterNav title={"Ressources"} navItems={footerLegal}/>
            </GroupFooterNav> -->

        </div>
    </Container>
    <div class=" bg-gradient-to-tl from-box-bg py-2 relative">
        <Container>
            <div class="flex justify-between items-center gap-6 md:text-lg text-heading-3">
                <div>
                    <!-- &copy; <span id="year"></span> Pergi All right reserved -->
                </div>
                <div>
                    Made by <a href="https://github.com/johnkat-mj" target="_blank" class="font-semibold">Gautham Pandian</a>
                </div>
            </div>
        </Container>
    </div>
</footer>